{% extends 'back/product.html.twig' %}
{% block body %}
    

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_dashboard') }}" class="btn bg-gradient-info">VIEW LIST</a>
{% endblock %}
